nav.navbar-self{
    background-color: #FFFFFF;
    border:1px solid #E7E7E7;
}

nav .navbar-container-self{
    width: 1225px;
}

nav .navbar-logo{
    width: 75px;
    margin-top: -8px;
}


nav .navbar-img{
    width: 40px;
}

nav .navbar-spinner-self{
    margin-top: 5px;
}

nav p{
    margin-top: 24px;
    margin-left: 62px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    position: fixed;
}

.nav>li>a{
    padding: 4px 4px 1px 4px;
    /*padding-top: 3px;*/
    /*padding-right: 0px;*/
    /*padding-left: 0px;*/
    /*padding-bottom: 0px;*/

}


.container-self{
    width: 1200px;
    height: 1024px;
    background-color: #F8F8F8;
}

.sidebar{
    margin-top: 100px;
    width: 135px;
    height: 500px;
    background-color: #1b6d85;
}

.widget-menu{
    background: #fff;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    overflow: hidden
}

ul.unstyled,ol.unstyled, a.unstyled{
    margin:0;
    padding: 0px;
    list-style:none;
}
